{% extends 'base.html.twig' %}

{% block title %}Register to Grace{% endblock %}
{% block nav %}
    <nav class="navbar navbar-light justify-content-between">
        <a href="#" class="navbar-brand">
            <img src="https://i.ibb.co/nLCPYRd/grace-logo.png" alt="grace-logo" width="125" class="d-inline-block align-middle mr-2">
        </a>
        <form class="form-inline">
            <a href="{{ path('app_login') }}" class="btn my-2 my-sm-0" type="submit" id="signin">Sign in</a>
        </form>
    </nav>
{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <br>
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="container">
    <div class="row">
        <div class="col-sm" id="registerintro">
            <h1>Make your Grace account here </h1>
            <h3>Welcome dear customer. If you have no account at Grace Ombudsservices you can make a new account here before you log in to our platform.</h3>
        </div>

        <div class="col-sm" id="registerform">
    <h1>Register</h1>
    <hr>
            <div class="registerwidgets">
                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm.username) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_widget(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {% if app.user and  ROLES['MANAGER'] in app.user.roles %}
                    <select class="form-control" name="agents">
                        <option value="ROLE_USER,ROLE_AGENT">First Line Agent</option>
                        <option value="ROLE_USER,ROLE_AGENT,ROLE_PREMIUM_AGENT">Second Line Agent</option>
                    </select>
                {% endif %}
            </div>
    {{ form_row(registrationForm.agreeTerms) }}
    <button type="submit" class="btn" id="registerbtn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
</div>
{% endblock %}
