{{ form_start(form) }}
    {{ form_widget(form._token) }}
    {{ form_widget(form.comment) }}
    {% if is_granted(roles['FLA']) %}
        <div class="text-right my-1">
            {{ form_widget(form.private) }}
            {{ form_label(form.private) }}
        </div>
        {% else %}
            <br>
    {% endif %}
    <button class="btn mb-3" id="saveBtn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}
