{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Message</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Posted</th>
                <th>Agent</th>
                <th>actions</th>
                {% if "ROLE_AGENT" in user.roles %}
                <th>Agent actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.message }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.posted ? ticket.posted|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.agentId }}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>
                    <a href="{{ path('ticket_comment', {'id': ticket.id}) }}">add comment</a>
                    {% if ticket.status is same as('Waiting for customer feedback') %}
                    <a href="{{ path('ticket_respond', {'id': ticket.id}) }}">mail agent</a>
                    {% endif %}
                    {% if ticket.canReopen() and ticket.status is same as ("closed") %}
                        <a href="{{ path('ticket_reopen', {'id': ticket.id}) }}">Reopen</a>
                    {% endif %}
                </td>

                {% if "ROLE_AGENT" in user.roles %}
                    <td>

                        <a href="{{  path('ticket_assign', {'id': ticket.id,'user_id': user.id}) }}">Assign myself</a>
                        <a href="{{  path('ticket_close', {'id': ticket.id}) }}">Close ticket</a>

                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ticket_new') }}">Create new</a>
{% endblock %}
