{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/show.css">
{% endblock %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="mt-5">Ticket</h1>
        <div class="ticket-navigation d-flex justify-content-between mt-5 mb-3">
            <a class="btn btn-light" href="{{ path('ticket_index') }}"><i class="fa fa-long-arrow-alt-left"></i> Back to list</a>
            <a class="btn btn-edit"href="{{ path('ticket_edit', {'id': ticket.id}) }}"> Edit</a>
        </div>

        <div class="card ticket">
            <div class="card-header d-flex justify-content-between">
                <p class="align-middle mb-0">Ticket: <span class="ticket-id">#{{ ticket.id }}</span></p>
                <p class="align-middle mb-0">Priority: <span class="badge badge-status pilletje">{{ ticket.priority }}</span></p>
                <p class="align-middle mb-0">Status: <span class="badge badge-status pilletje">{{ ticket.status }}</span></p>
            </div>
            <div class="card-body py-5">
                <h4 class="card-title">{{ ticket.title }}</h4>
                <div class="card-text my-5">{{ ticket.message }}</div>
            </div>
            <div class="card-footer">
                <p id="date" class="align-middle mb-0">Posted: {{ ticket.posted ? ticket.posted|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>

        {{ include('ticket/_delete_form.html.twig') }}
        <br>
        <h2 class="mt-5">Comments</h2>
        <ul class="list-group mb-5">
        {% for comment in ticket.comments %}
            {% if comment.private == false %}
            <div class="card my-2 py-4" id="card">
                <div class="card-body d-flex flex-column py-0">
                    <div class="card-text text-left">{{ comment.comment }}</div>
                    <p class="text-right mb-0 comment-author">Written by: {{ comment.user.username }}</p>
                </div>
            </div>
            {% elseif is_granted(roles['FLA']) %}
            <div class="card" id="card">
                <div class="card-body">
                        <p>User: {{ comment.user.username }}</p>
                        <p>Roles: {{ comment.user.roles|join }}</p>
                        <p>Comment: {{ comment.comment }}</p>
                        <p>Private: {{ comment.private }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </ul>
        <br>
    </section>
    <script src="{{ app.request.baseUrl }}/js/scriptBadges.js"></script>
{% endblock %}
