{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div id="editRole" class="form">
        <h1 class="h3 mb-2 font-weight-normal">Adjust role Agent: {{ user.username }}</h1>
        <hr>
        <br>
    <form method="post">
    <select class="form-control" name="roles">
        <option value="{{roles['USER']}},{{roles['FLA']}}">First Line Agent</option>
        <option value="{{roles['USER']}},{{roles['FLA']}},{{roles['SLA']}}">Second Line Agent</option>
    </select>
    <button class="btn my-3" id="saveBtn">{{ button_label|default('Save') }}</button>
   </form>
        {{ include('user/_delete_form.html.twig') }}
    <a class="text-center mt-2" href="{{ path('user_index') }}">back to list</a>
    </div>
</div>

{% endblock %}
